/***** 
COLOR CHEAT SHEET 
https://coolors.co/palette/606c38-283618-fefae0-dda15e-bc6c25

606c38 - light green
283618 - dark green
fefae0 - cream
dda15e - light brown
bc6c25 - dark brown
*****/


/********************/
/******* FONTS ******/
/********************/
body, p {
    font-family: "Moderustic", sans-serif;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Plus Jakarta Sans", sans-serif;
}

/********************/
/******* COLORS *****/
/********************/

/********************/
/******* HERO *******/
/********************/
header.masthead{
    background: url(../img/hero.jpg);
}